@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@keyframes glitch {
  0% {
    text-shadow:
      0.12em 0 0 rgba(255, 0, 0, 0.75),
      -0.12em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.12em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow:
      0.12em 0 0 rgba(255, 0, 0, 0.75),
      -0.12em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.12em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow:
      -0.12em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.12em -0.12em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow:
      -0.12em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.12em -0.12em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow:
      0.025em 0.12em 0 rgba(255, 0, 0, 0.75),
      0.12em 0 0 rgba(0, 255, 0, 0.75),
      0 -0.12em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow:
      0.025em 0.12em 0 rgba(255, 0, 0, 0.75),
      0.12em 0 0 rgba(0, 255, 0, 0.75),
      0 -0.12em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow:
      -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.12em 0 rgba(0, 0, 255, 0.75);
  }
}

.glitch {
  animation: glitch 1s linear infinite;
}

@keyframes scanline {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.scanline {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent,
    rgba(255, 0, 0, 0.2),
    transparent
  );
  pointer-events: none;
  animation: scanline 10s linear infinite;
}
